.App {
  text-align: center;
}

* Image_Slider */
#ClickedImg{
  border: 2px solid gray;
}
/* end */



/* UploadImg */
.ImgCard {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.ImgCard .image{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 8px;
  object-fit: contain;
}

.ImgCard .image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.ImgCard .image span{
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}
